nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    top: 81px;
    height: 20px;
    width: 100%;
    background-color: darkgray;
    border: 1px solid black;
}